<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="config.lua"/>


  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find navi_slam)/launch/gmapping.launch"> 
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

</launch>
